marquee{
    background-color: orangered;
    position: sticky;
    top: 10;
    z-index: 99999;
    font-size: 25px;
}
body{
    text-align: center;
    background-color: midnightblue;
}
#user_name{
    width: 250px;
}

#logout
{
	font-size: 20px; float: right;
}

#body_2{
    background-color: midnightblue;
}

label{
    color: white;
}

h3{
    color:white;
}

h1{
    color:white;
}

h4{
    color:white;
}